!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %script{:src => "google-code-prettify/prettify.js"}
    %script{:src => "google-code-prettify/lang-css.js"}
    %script{:src => "jquery-1.6.2.min.js"}
    %script{:src => "font-tag-converter.js"}

    :css
      body { margin: 0; padding: 0 }
      pre { margin: 0;}

    :javascript
      // js

    %title Test
    %link{:href => "google-code-prettify/prettify.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %blockquote{:id => "result"}

    %pre{:class => "prettyprint lang-c", :id => "code"}>
      = preserve do
        :escaped
          #include <stdio.h>
          #include <math.h>

          int main(void){

              int n;
              double a,b,c,d,x1,x2;
              char buf[16+1];

              printf("2次方程式の解を求めます。\n");

              /* 入力 */
              printf("a b cをスペースで区切って入力して下さい:");
              while(1){
                  fgets(buf, 16, stdin);
                  n = sscanf(buf,"%lf %lf %lf", &a, &b, &c);
                  if(n == 3){
                      if(a != 0 && b != 0 && c != 0){
                          break;
                      }
                      else{
                          printf("a,b,cは0以外の値である必要があります。\n");
                          printf("再入力:");
                          continue;
                      }
                  }
                  else if(n == -1){
                      continue;
                  }
                  else {
                      printf("Usage:a b c\n");
                       return 0;
                  }
              }

              /* 判別式の計算 */
              d = b*b - 4*a*c;

              /* 判別式が正のとき、解を計算 */
              if(d >= 0){
                  x1 = (-b + sqrt(d)) / (2.0 * a);
                  x2 = (-b - sqrt(d)) / (2.0 * a);
                  printf("x1 = %f(%E)\n",x1,a*x1*x1+b*x1+c);
                  printf("x2 = %f(%E)\n",x2,a*x2*x2+b*x2+c);
                      }
              /* 判別式が負のとき、虚数解の表示 */
                      else{
                  printf("x1 = 虚数解\n");
                  printf("x2 = 虚数解\n");
                  }

              return 0;
          }

          /*

          2次方程式の解を求めます。
          a b cをスペースで区切って入力して下さい:7 8 1
          x1 = -0.142857(4.759648E-17)
          x2 = -1.000000(0.000000E+00)

          2次方程式の解を求めます。
          a b cをスペースで区切って入力して下さい:1 2 1
          x1 = -1.000000(0.000000E+00)
          x2 = -1.000000(0.000000E+00)

          a b cをスペースで区切って入力して下さい:4 5 6
          x1 = 虚数解
          x2 = 虚数解

          2次方程式の解を求めます。
          a b cをスペースで区切って入力して下さい:2.9 82.1 234.4523
          x1 = -3.222466(2.678413E-14)
          x2 = -25.087879(6.483702E-14)

          */