!!!
%html
  %head
    %meta{:charset => "UTF-8"}

    / -------------------------------------------
    / Included CSS Files
    / -------------------------------------------
    / Google Code Prettify
    %link{:href => "vendor/google-code-prettify/prettify.css", :rel => "stylesheet", :type => "text/css"}
    / Foundation
    %link{:href => "stylesheets/foundation.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/app.css", :rel => "stylesheet", :type => "text/css"}
    / Original
    %link{:href => "stylesheets/style.css", :rel => "stylesheet", :type => "text/css"}

    / -------------------------------------------
    / Included JS Files
    / -------------------------------------------
    / jQuery
    %script{:src => "javascripts/jquery.min.js"}
    %script{:src => "javascripts/jquery.autoresize.js"}
    %script{:src => "javascripts/jquery.textchange.min.js"}
    / Google Code Prettify
    %script{:src => "vendor/google-code-prettify/prettify.js"}
    / Google Code Prettify - Languages
    %script{:src => "vendor/google-code-prettify/lang-apollo.js"}
    %script{:src => "vendor/google-code-prettify/lang-clj.js"}
    %script{:src => "vendor/google-code-prettify/lang-css.js"}
    %script{:src => "vendor/google-code-prettify/lang-go.js"}
    %script{:src => "vendor/google-code-prettify/lang-hs.js"}
    %script{:src => "vendor/google-code-prettify/lang-lisp.js"}
    %script{:src => "vendor/google-code-prettify/lang-lua.js"}
    %script{:src => "vendor/google-code-prettify/lang-ml.js"}
    %script{:src => "vendor/google-code-prettify/lang-n.js"}
    %script{:src => "vendor/google-code-prettify/lang-proto.js"}
    %script{:src => "vendor/google-code-prettify/lang-scala.js"}
    %script{:src => "vendor/google-code-prettify/lang-sql.js"}
    %script{:src => "vendor/google-code-prettify/lang-tex.js"}
    %script{:src => "vendor/google-code-prettify/lang-vb.js"}
    %script{:src => "vendor/google-code-prettify/lang-vhdl.js"}
    %script{:src => "vendor/google-code-prettify/lang-wiki.js"}
    %script{:src => "vendor/google-code-prettify/lang-xq.js"}
    %script{:src => "vendor/google-code-prettify/lang-yaml.js"}

    / Foundation
    %script{:src => "javascripts/foundation.js"}
    %script{:src => "javascripts/modernizr.foundation.js"}
    %script{:src => "javascripts/app.js"}
    / original uglifier
    %script{:src => "javascripts/misc.js"}

    %title Ugly Syntax Highlighter

  %body

    / navigation bar
    #navBar.container
      .row
        .four.columns
          %h1
            %a{:href => "index.html"} Ugly Syntax Highlighter
        .eight.columns.hide-on-phones
          %strong.right
            %a{:href => "#features"} Features
            %a{:href => "#usage"} Usage
            %a{:href => "https://github.com/yukinoraru/Ugly-Syntax-Highlighter"} Github
            %a.small.red.nice.button.src-download{:href => "https://github.com/yukinoraru/Ugly-Syntax-Highlighter/zipball/master"} Download
    / container
    .container
      .row
        .twelve.columns
          .foundation-header
            %h1
              %a{:href => "#"} Ugly Syntax Highlighter
            %h4.subheader It's not smart, but compatible for clipboard.
      .row
        .twelve.columns
          .six.columns
            .twelve.columns
              %h4 1. Paste your code
            .panel
              .twelve.columns
                .panel{:style => "overflow:hidden;"}
                  %div{:style => "float:left;"}
                    Language:
                    %br/
                    %select#langSelect
                  %div{:style => "float:left;margin: 0 18px 18px; padding: 0px 20px 0 19px; border-left: 1px solid #ddd; "}
                    Options:
                    %br/
                    %label{:for => "showLineNumber"}
                      %input#showLineNumber{:type => "checkbox"}/
                      Show Line Number
                    %br/
              %textarea#src.expand{:placeholder => "Paste your code here...", :rows => "13"}
          .six.columns
            .twelve.columns
              %h4 2. Copy to clipboard
            .panel
              .twelve.columns
                .panel{:style => "overflow:hidden;"}
                  %div{:style => "float:left;"}
                    %p
                      %span#select-button.nice.radius.small.red.button Select all
              #dest
                highlight code will be shown here...

      .row
        .twelve.columns
          %br
          %br
          %a{:name => "features"}
          %h3 Features
          %h4 * Compatible for ALL TYPES OF EDITORS.
          This syntax hilight uses only font-tag, so you can use copy/paste in legacy rich text editors.
          %br
          The below photos are screenshot at Evernote, YUI Rich Text Editor, and Yahoo! Japan's rich text editor.
          %br
          %br
          %center
            #orbit-container{:style => "width:400px;"}
              #featured
                %img{:src => "images/evernote.png"}
                %img{:src => "images/yui-rich-text.png"}
                %img{:src => "images/yahoo-jpn-rte.png"}

          %br
          %br
          %h4 * Various Languages
          You can use many languages for syntax hilight.

          %br
          %br
          %h4 * Available for Offline
          This syntax highlight is driven by pure Javascript.

      .row
        .twelve.columns
          %br
          %br
          %a{:name => "usage"}
          %h3 Usage
          It's simple. Just PASTE and Copy. That's it.
          %br
          %br

          %h4 Local Usage
          %ol
            %li
              Get software.
              %a{:href => "https://github.com/yukinoraru/Ugly-Syntax-Highlighter/zipball/master"} Click here
              to download or
              %strong git clone https://github.com/yukinoraru/Ugly-Syntax-Highlighter.git

            %li
              Extract and open "index.html" like this:
              %blockquote
                \% git clone https://github.com/yukinoraru/Ugly-Syntax-Highlighter.git
                %br
                \% cd Ugly-Syntax-Highlighter/webroot
                %br
                \% open index.html


      / footer
      %footer.row
        %section.five.columns
          %h6
            %strong INFORMATION
          %p
            This product is free, open-source software.
            The source code is available over at
            %a{:href => "https://github.com/yukinoraru/Ugly-Syntax-Highlighter"} GitHub.

        %section.three.columns
          %h6
            %strong REPORTING ISSUES
          %p
            Please report any issues you find over to the
            %a{:href => "https://github.com/yukinoraru/Ugly-Syntax-Highlighter"} GitHub.

        %section.four.columns
          %h6
            %strong ACKNOWLEDGEMENTS
          %p
            Thanks to the hard work of this product's dependency projects.
            %a{:href => "http://code.google.com/p/google-code-prettify/"} google-code-prettify →
            %br
            %a{:href => "http://foundation.zurb.com/"} ZURB Foundation →
            %br
            %a{:href => "http://incident57.com/codekit/"} CodeKit →


    %pre{:class => "prettyprint", :id => "working"}>
